body {
    margin: 0;
    font-family: 'Jost', sans-serif;
    font-weight: 400;

    color: #292F36;
}

a {
    color: #292F36;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'DM Serif Display', serif;
    font-weight: 100;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

.primary-1 {
    color: #CDA274;
}

.primary-2 {
    color: #292F36;
}

.primary-3 {
    color: #F4F0Ec;
}

.bg-primary-1,
.bg-primary-1:hover {
    background-color: #CDA274;
}

.bg-primary-2,
.bg-primary-2:hover {
    background-color: #292F36;
}

.bg-primary-3 {
    background-color: #F4F0Ec;
}

.border-top-primary-1{
    border-top: 1px solid #CDA274;
}

.border-top-primary-2{
    border-top: 1px solid #292F36;
}

.main-navbar {
    background-color: white;
    color: #292F36;
    box-shadow: none;
    padding: 10px 0;
}

.main-navbar a {
    color: #292F36;
}

.main-navbar button {
    color: #292F36;
    font-family: inherit;
    font-weight: 400;
}

.top-view {
    display: flex;
    width: 100%;
    height: 740px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../assets/top-bg.jpg");
    border-bottom-left-radius: 250px;

}

.top-view>div {
    margin-left: 15%;
    max-width: 400px;
}

.top-view>div>h1 {
    font-weight: lighter;
}

footer {
    color: #292F36;
}

footer h6 {
    margin-top: 0;
}

footer a {
    display: block;
}

.double-curve-img {
    border-top-right-radius: 200px;
    border-bottom-left-radius: 100px;
    max-width: 500px;
    width: 100%;
    display: block;
}

.curve-top-right {
    border-top-right-radius: 100px;
}

.curve-top-left {
    border-top-left-radius: 100px;
}

.curve-bottom-right {
    border-bottom-right-radius: 100px;
}

.curve-bottom-left {
    border-bottom-left-radius: 100px;
}

.projects-view .image-container {
    max-width: 400px;
    width: 100%;
}

.projects-view img {
    width: 100%;
}

.MuiGrid-root {
    margin-left: 0;
    margin-right: 0;
    width: 100%
}

/*
.MuiGrid-root > .MuiGrid-item{
    padding: 0;
}
*/

.stats-view>div {
    border-left: 1px solid #CDA274;
}

.stats-view>div:first-child {
    border-left: none;
}

@media screen and (max-width: 900px) {
    .stats-view>div {
        border-left: none;
        border-top: 1px solid #CDA274;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .stats-view>div:first-child {
        border-top: none;
    }
}

@media screen and (min-width: 1200px) {
    .text-left-lg {
        text-align: left !important;
    }

    .justify-content-start-lg {
        justify-content: start !important;
    }
}

.br-15 {
    border-radius: 15px;
}

.br-25 {
    border-radius: 25px;
}
.article-view>.article-item {
    border: 1px solid rgb(214, 214, 214);
    border-radius: 30px;
    padding: 10px;
    max-width: 300px;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
}

.article-view>.article-item .image-view {
    position: relative;
    height: 260px;
}

.article-view>.article-item .image-view img {
    position: absolute;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 100%;

}

.article-view>.article-item .image-view span {
    position: absolute;
    bottom: 30px;
    left: 25px;
    background-color: white;
    padding: 8px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}

@media screen and (max-width: 420px) {

    .article-view>.article-item .image-view {
        height: 100%;
    }

    .article-view>.article-item .image-view span {
        position: static;
        text-align: center;
        padding: 0;
        display: block;
    }

    .article-view>.article-item .image-view img {
        position: static;
    }
}

.pricing-badge{
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #292F36;
    color: white;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 10px;
}

.top-display{
    position: relative;
}

.top-display img{
    height: 300px;
    width: 100%;
}

.top-display .title-display{
    position: absolute;
    background-color: white;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    height: 130px;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}